<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{.Title}}</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Description</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {{range .Data.Tasks}}
        <tr>
          <td>{{.ID}}</td>
          <td>{{.Title}}</td>
          <td>{{.Description}}</td>
          <td>
            <form action="/update-status/{{.ID}}" method="post">
              <select name="status" onchange="this.form.submit()">
                <option value="TODO"{{if eq .Status "TODO"}} selected{{end}}>TODO</option>
                <option value="IN_PROGRESS"{{if eq .Status "IN_PROGRESS"}} selected{{end}}>IN PROGRESS</option>
                <option value="IN_REVIEW"{{if eq .Status "IN_REVIEW"}} selected{{end}}>IN REVIEW</option>
              </select>
            </form>
          </td>
        </tr>
        {{end}}
      </tbody>
    </table>
  </body>
</html>
