<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{.Title}}</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
  
</head>
<body>
    <h2>Edit Task</h2>

    <form action="/edit-task/{{.Data.Task.ID}}" method="post">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" value="{{.Data.Task.Title}}" required />

        <label for="description">Description:</label>
        <textarea id="description" name="description" rows="4">{{.Data.Task.Description}}</textarea>

        <label for="dueDate">Due Date:</label>
        <input type="datetime-local" id="dueDate" name="dueDate" value="{{.Data.Task.DueDate}}" />

        <label for="status">Status:</label>
        <select id="status" name="status">
            <option value="TODO"{{if eq .Data.Task.Status "TODO"}} selected{{end}}>TODO</option>
            <option value="IN_PROGRESS"{{if eq .Data.Task.Status "IN_PROGRESS"}} selected{{end}}>IN PROGRESS</option>
            <option value="IN_REVIEW"{{if eq .Data.Task.Status "IN_REVIEW"}} selected{{end}}>IN REVIEW</option>
            <option value="DONE"{{if eq .Data.Task.Status "DONE"}} selected{{end}}>DONE</option>
        </select>

        <button type="submit">Update Task</button>
    </form>
</body>
</html>
